body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    background: linear-gradient(to right, #abc1ff, #73fffd);
  }
  
  .containerm {
    display: flex;
    max-width: 600px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 175px;
  }
  
  .left-panel {
    flex: 1;
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
  }
  
  .right-panel {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
  }
  
  h1, h2 {
    margin-top: 0;
    color: #333;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #555;
  }
  
  .form-groupm {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .buttonm {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }
  
  .buttonm:hover {
    background-color: #0056b3;
  }